<div class="navbar">
  <img routerLink="/" src="assets/webshio.png" alt="" class="logo" />
  <button *ngIf="!isLoggedIn" routerLink="/login">Log in</button>
  <button *ngIf="!isLoggedIn" routerLink="/register">Register</button>
  <button *ngIf="isLoggedIn" (click)="onLogout()">Log out</button>
  <img
    *ngIf="isLoggedIn"
    routerLink="/admin"
    src="assets/admin.png"
    alt=""
    class="btn"
  />
  <div>
    <img
      routerLink="/shopping-cart"
      src="assets/shopping-cart.png"
      alt=""
      class="btn"
    />
    <div class="sum-cart">{{ sumOfCart }}</div>
  </div>
</div>
