.navbar {
  background-color: rgba(231, 181, 181, 255);
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.btn {
  height: 50px;
  margin: 30px;
  cursor: pointer;
}

.sum-cart {
  text-align: center;
}
